{
  "presets": ["next/babel", "@babel/flow"],
  "plugins": [
    ["babel-plugin-root-import"],
    [
      "emotion",
      {
        "sourceMap": false,
        "cssPropOptimization": true
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "convertStyleToAttrs": false
            },
            {
              "removeAttrs": { "attrs": "fill" }
            },
            {
              "addClassesToSVGElement": {
                "classNames": ["bb-svg-icon"]
              }
            }
          ]
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "autoLabel": true,
            "labelFormat": "[filename]--[local]",
            "sourceMap": true
          }
        ]
      ]
    }
  }
}
