{
  "presets": ["next/babel", "@babel/flow"],
  "plugins": [
    ["babel-plugin-root-import"],
    [
      "emotion",
      {
        "sourceMap": false,
        "autoLabel": true,
        "labelFormat": "[filename]--[local]",
        "cssPropOptimization": true
      }
    ],
    ["inline-react-svg"]
  ]
}
